@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">berkayaşkım</h1>
    <p> BERKAY</p>
    <i class="bi bi-arrow-through-heart-fill"></i>
    <p>CEREN</p>
</div>
